.About h1 {
    text-align: center;
    margin: 6rem;
}

.About button{
    border-radius: 3rem;
    margin: 0rem;
    padding: 0.5rem 0.8rem;
    border: none;
    outline: none;
    background-color: #333;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 3rem;
    position: absolute;
}

.About img{
    max-width: 10rem;
    max-height: 20rem;
    width: auto;
    height: auto;
    padding-left: 5rem;
}

.prancha {
    margin: auto;
    margin-top: 3.5rem;
    margin-bottom: 10rem;
    max-width: 20rem;
    padding: 0rem;
    position: relative;
}