.praia {
    text-align: center;
    margin: 6rem 1rem;
    font-weight: bolder;
    color: white;
    font-size: 2rem;
}

.btn {
    display: block;
    width: 30%;
    position: relative;
    left: 40%;
    padding: 0.5rem;
    margin-top: 0.5rem;
    background: #333;
    color: white;
    border: #333 0.1rem solid;
    border-radius: 0.5rem;
    cursor: pointer;
    font-size: 1rem;
}

.Home{
    margin-top: 0;
    padding: 10rem 17rem;
}

.btn:hover {
    background: #4F4F4F;
}